[submodule "fuel/core"]
	path = fuel/core
	url = https://github.com/fuel/core
[submodule "fuel/packages/auth"]
	path = fuel/packages/auth
	url = https://github.com/fuel/auth
[submodule "fuel/packages/oil"]
	path = fuel/packages/oil
	url = https://github.com/fuel/oil
[submodule "fuel/packages/parser"]
	path = fuel/packages/parser
	url = https://github.com/fuel/parser
